{{!-- Чтобы было удобнее, можно создать поршиолы на некоторые общие элементы. Для этого в папке views создаём папку partials, а в ней файл head. Даkее переносим туда всю секцию head --}}
{{!-- Чтобы подключить секцию head, нужно обратиться к шаблонизатору hbs (01) --}}

{{> head}}

<body>
    <div class="container">
        {{{ body }}}

    </div>
</body>
</html>