{{! Чтобы было удобнее, можно создать паршиолы на некоторые общие элементы. Для этого в папке views создаём папку partials, а в ней файл head. Даkее переносим туда всю секцию head }}
{{! Чтобы подключить секцию head, нужно обратиться к шаблонизатору hbs }}
{{! В теге body подключить секцию navbar так же, как head }}
{{! Переходим в роутер }}

{{> head}}

<body>
    {{> navbar }}

    <div class="container">
        {{{ body }}}

    </div>
</body>
</html>